html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
}

.logout-button {
  position: fixed;
  bottom: 0;
}

.error-message {
  text-align: center;
}

.container-fluid {
  height: 100%;
}
.row {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.landing{
  background-color: #773678;
  border-color: #773678;
}
.landing:hover {
  background-color: #581D59;
  border-color: #581D59;
}
.landing:active{
  background-color: #773678;
  border-color: #773678;
}
.container.view-options{
  margin-left: 10px;
  margin-right: auto;
}
.sidebar{
  margin-left: 0;
  padding-left: 0;
  background-color: #581D59;
}
.nav li {
    padding: .5rem;
    color: white;
    background-color: #581D59;
    border: 1px solid rgba(86,61,124,.2);
}
.nav a{
  color: white;
}
.hidden-content div{
  display: none;
}
.hidden-content div:target{
  display: block;
}
.student-title{
  margin-bottom: 10px;
}
#top-row{
  font-size: 1.35rem;
  text-align: center;
}
#attendance , #homework{
  margin-left: 2em;
  margin-top: 2em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.attendance-table {
  margin-left: 1em;
  margin-left: 5em;
}
